/* Base Styles */
html, body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* Transitions */
html, body, .panel {
  transition: background-color, border-color 0.3s;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p { 
  color: var(--heading-color);
}

/* Links */
a {text-decoration: underline; color: inherit;}
a:hover, a:visited { text-decoration: none; color: inherit;}

/* Typography Utilities */
.f-light   { font-weight: 300; }
.f-regular { font-weight: 400; }
.f-heavy   { font-weight: 700; }
.f-small   { font-size: calc(var(--font-size-base) * 0.75); }
.f-large   { font-size: calc(var(--font-size-base) * 1.25); }

/* Text Alignment */
.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; margin-left: auto; margin-right: auto; }
.justify { text-align: justify; }
.float-right { float: right; } 