/* Panels */
.panel {
  padding: var(--panel-padding-y) var(--panel-padding-x);
  border-radius: var(--border-radius);
  border: 1px solid var(--panel-border);
  box-sizing: border-box;
}
.panel.dark {
  background: var(--panel-dark-bg);
}
.panel.light {
  background: var(--panel-bg);
}