/* ==========================================================================
   BitUI Framework - Core Styles
   ========================================================================== */

/* Import other stylesheets */
@import 'base.css';
@import 'grid.css';
@import 'components.css';
@import 'forms.css';
@import 'darkmode.css';

/* Font Imports
   ========================================================================== */
@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoColorEmojiLimited';
    src: url("../fonts/NotoColorEmoji.ttf") format('truetype');
    unicode-range: U+1F600-U+1F64F;
}

/* Root Variables
   ========================================================================== */
:root {
    /* Colors */
    --red: rgba(225, 85, 84, 1);
    --red-hover: rgba(225, 123, 123, 1);
    --orange: rgba(255, 165, 0, 1);
    --green: rgba(59, 178, 115, 1);
    --green-hover: rgba(59, 178, 115, 0.85);
    --blue: rgba(77, 157, 224, 1);
    --blue-hover: rgba(77, 163, 234, 1);
    --purple: rgba(119, 104, 174, 1);
    --purple-hover: rgba(138, 122, 193, 1);
    --graph-green: rgba(43,174,83,1);
    --graph-blue: #08B2E3;
    /* Layout */
    --container-width: 90%;
    --container-max-width: 65rem;
    --border-radius: 15px;
    --spacing-unit: 20px;  /* Space between panels */
    --panel-padding: 5px; /* Internal panel padding */
    /* Typography */
    --font-family-base: 'Roboto Mono', 'NotoColorEmojiLimited', monospace;
    --font-size-base: 16px;
    --line-height-base: 1.4;
}