<div className="row">
  <div className="col-12">
    <div className="panel dark">
      <h3 className="center">Full-Width Content</h3>
      <div className="row">
        <div className="col-6">
          <div className="panel light">
            <p>This nested column (50%)
              contains content on the left
              side of the full-width panel.
            </p>
          </div>
        </div>
        <div className="col-6">
          <div className="panel light">
            <p>This nested column (50%)
              contains content on the right
              side of the full-width panel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>